
  <div class="clearfix"></div>
<!--
  <div class="social_network">
    <a class="boutons-facebook-share" href="https://www.facebook.com/sharer.php?u=" onclick="window.open(this.href + document.URL, '', 'height=500, width=500, top=100, left=500'); return false;">
      <div class="social_network_send">
        <img src="<%=image_path("oauth/facebook-share-big.png")%>">
      </div>

      <div class="" style="float:left;">
        <div class="pluginCountButton pluginCountNum">
          <span>
            <span id="count_facebook" class="pluginCountTextDisconnected">0</span>
          </span>
        </div>
        <div class="pluginCountButtonNub">
          <s></s>
          <i></i>
        </div>
      </div>
    </a>
  </div>

  <div class="social_network">
    <a class="boutons-twitter-share" href="https://twitter.com/intent/tweet?text=&url=" onclick="window.open(this.href + document.URL, '', 'height=500, width=500, top=100, left=500'); return false;">
      <div class="social_network_send">
        <img src="<%=image_path("oauth/twitter-share-big.png")%>">

      </div>

      <div class="" style="float:left;">
        <div class="pluginCountButton pluginCountNum">
          <span>
            <span id="count_twitter" class="pluginCountTextDisconnected">0</span>
          </span>
        </div>
        <div class="pluginCountButtonNub">
          <s></s>
          <i></i>
        </div>
      </div>
    </a>
  </div>

  <div class="social_network">
    <a class="boutons-google-share" href="https://plus.google.com/share?url=" onclick="window.open(this.href + document.URL, '', 'height=500, width=500, top=100, left=500'); return false;">
      <div class="social_network_send">
        <img src="<%=image_path("oauth/googleplus-share-big.png")%>">
      </div>

      <div class="" style="float:left;">
        <div class="pluginCountButton pluginCountNum">
          <span>
            <span id="count_googleplus" class="pluginCountTextDisconnected">0</span>
          </span>
        </div>
        <div class="pluginCountButtonNub">
          <s></s>
          <i></i>
        </div>
      </div>
    </a>
  </div>

  <div class="spacer"></div>

-->
<script type="text/javascript">
  var share_page = function() {
    $.ajax({
      type: "GET",
      dataType: 'json',
      url: '/api/utils/get_share_count',
      data: { url: document.URL}
    })
    .done(function( data ) {
      $("#count_facebook").text(data['facebook']);
      $("#count_twitter").text(data['twitter']);
      $("#count_googleplus").text(data['googleplus']);
    });
  }

$(document).ready(share_page);
$(document).on('page:load', share_page);

</script>
