<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Getup - nouvelle demande de contact</h1>
    <p>
    	<ul>
    		<li>Nom  : <%=@contact[:name]%></li>
    		<li>Email  : <%=@contact[:email]%></li>
    		<li>Tel  : <%=@contact[:tel]%></li>
    		<li><strong>Message</strong><br/><%=@contact[:message]%></li>
    	</ul>
    </p>
  </body>
</html>