/*-------------------------------------------------------------------------------
Description: getup 2015
Author: anthony hauata
Author URI: www.fulgens.fr

Designed by Julie Fredillon
*/

$dark : #25272b;
$light : #fff;

#header-top {
	height: 1.875rem;
	background-color: $dark;
}
#header-header {
	height: 6.375rem;
	background-color: $light;
}
