<div class="habillage">
  <section class="connexion">

      <div class="row first-section bg-color-light-blurred">
        <h1 class="text-center">Se connecter</h1>

        <div class="row">
          <div class="small-10 medium-6 small-centered columns">
            <%= render partial: "devise/sessions/form_new", locals: {:active => true } %>
          </div>
        </div>

      </div>

  </section>
</div>
