/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require front/override
 *= require front/custom
 *= require gritter
 *= require jquery.bxslider
 *
*/

.bxslider_fix{
  margin: 0 0 0 0;
}

#bx-pager > .active > img{
  border: 2px solid #000;
}

/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
  position: relative;
  width: 100%;
  margin: 0px;
  z-index: 0;
}

.als-viewport {
  position: relative;
  overflow: hidden;
  margin: 0px;
}

.als-wrapper {
  list-style: none;
}

.als-item {

}

.als-prev, .als-next {
  position: absolute;
  cursor: pointer;
  clear: both;
}
/*************************************
 * specific styling for #demo3
 ************************************/

#home_news {
  margin: 40px auto;
}

#home_news .als-item {
  margin: 0px 5px;
  padding: 4px 0px;
  height: 120px;
  width: 200px;
  text-align: center;
}

#home_news .als-item img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

#home_news .als-prev, #home_news .als-next {
  top: 40px;
}

#home_news .als-prev {
  left: 20px;
}

#home_news .als-next {
  right: 20px;
}

.vignette_news{
  max-width: 100px;
  max-height: 100px;
}

.thumbnail_news{
  max-width: 450px;
  max-height: 450px;
}

.vignette_activite{
  max-width: 100px;
  max-height: 100px;
}

.thumbnail_activite{
  max-width: 450px;
  max-height: 450px;
}
