<footer id="footer">
	<div class="row">
		<div class="small-6 columns small-centered">
			<div class="row">
				<div class="small-4 columns">
					<ul>
						<% menu.each do |activite| %>
							<li>
								<a class="scrollTo" href="#<%=activite.slug%>"><span><%=activite.title[3..-1]%></span></a>
							</li>
						<% end %>
					</ul>
				</div>
				<div class="small-4 columns">
					<ul>
						<li><a class="scrollTo" href="#home-references"><span>Références</span></a></li>
						<li><a class="scrollTo" href="#home-actualites"><span>Actus</span></a></li>
						<li><a class="scrollTo" href="#home-contact"><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="small-4 columns">
					<ul>
						<li><a class="link-facebook" href=""><span>facebook</span></a></li>
						<li><a href="mailto:contact@get-up.fr">contact@get-up.fr</a></li>
						<li><a href="tel:0656566565">06 56 56 65 65</a></li>
					</ul>
				</div>
		</div>
	</div>
</footer>
