<!-- header -->
<header id="header" class="">
	<section id="header-top">
		<div class="row">
			
		</div>
	</section>
	<section id="header-header">
		<div class="row">
			<div class="small-12 medium-12 large-3 columns">
				<div id="logo">
					<%= link_to front_root_path do %>
						<img src="<%=image_path("front/logo.png")%>" />
					<% end %>
				</div>
			</div>

			<div class="small-12 medium-12 large-9 columns">
				<% if @top_menu %>
				<nav class="top-bar" data-topbar="" id="main-nav" role="navigation">
					<section class="title-area">
						<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
					</section>
					<section class="top-bar-section">
						<%= render 'front/menus/menu', :menu => @top_menu %>
					</section>
				</nav>
				<% end %>
			</div>

		</div>
	</section>
</header>
